/dist/
/build/
*.properties
build/web/khnv2021/table_all_subcommune_bycommune.jsp
build/web/khnv2021/table_auth_commune.jsp
build/web/khnv2021/table_detal_by_subcommune.jsp
build/web/khnv2021/ViewAuthor.jsp
build/web/khnv2021/xaydungkh.jsp
build/web/WEB-INF/classes/struts-khnv-2021.xml
build/web/WEB-INF/classes/vbsp/ims/action/DtwUploadFile.class
build/web/WEB-INF/classes/vbsp/ims/bcqt/dao/DaoSyncMain.class
build/web/WEB-INF/classes/vbsp/ims/define/Define.class
build/web/WEB-INF/classes/vbsp/ims/dtw/dao/DtwUploadDao.class
build/web/WEB-INF/classes/vbsp/ims/dtw/Dtw_Import.class
build/web/WEB-INF/classes/vbsp/ims/dtw/ExcelFileLibrary.class
build/web/WEB-INF/classes/vbsp/ims/excel_upload/ExcelUploadAction.class
build/web/WEB-INF/classes/vbsp/ims/excel_upload/ExcelUploader.class
build/web/WEB-INF/classes/vbsp/ims/excel_upload_khnv/ExcelUploadActionKhnv.class
build/web/WEB-INF/classes/vbsp/ims/khnv2021/AuthorAction.class
build/web/WEB-INF/classes/vbsp/ims/khnv2021/AuthorClass.class
build/web/WEB-INF/classes/vbsp/ims/khnv2021/AuthorModel.class
build/web/WEB-INF/classes/vbsp/ims/khnv2021/XayDungKeHoach2021.class
build/web/WEB-INF/classes/vbsp/ims/syn/ProcessReportSyn.class
build/web/WEB-INF/classes/vbsp/ims/web/services/ims_services.class
build/web/WEB-INF/datawarehouse_input-log.jsp
nbproject/private/private.properties
nbproject/private/private.xml
nbproject/project.properties
nbproject/private/private.properties
nbproject/project.properties
