th{
    background-color: #DCDCDC;
    border-color: #999;
    height: 18px;
}
td{
    border-color: #999;
    height: 20px;
}
table.editDelete{
    border-collapse: collapse;
    width: 97%;
    border-color: #999;
}
table.editDelete tr:focus{
    background-color:#FFE47A;
    /*cursor: pointer; hover*/
}
.highlight_row {
    background-color: #FFB951; 
    color:#000;
}
#divDonvitinh{
    text-align: right;
    padding-right: 30px;
    color: red; 
    font-weight: initial;
}
#divSubTitle{    
    text-align: left;
    color: red;     
    font-size: large
}
#divTitle{
    color: blue; 
    font-weight: bolder; 
    font-size: larger;
}
input[type="text"]
{
    width: 100%;
    border: 0px;
    
    /*color: #000000*/
    border-color: #18ab29;
    /*background: #F9F9F9;*/
    color:#666666;
}
input[type=text]:focus, textarea:focus {
    box-shadow: 0 0 5px fuchsia;
    border: 1px solid fuchsia;
}
input:read-only {
    background-color: #E5E5E5;
}