table.editDelete,
table.subTable {
    border-collapse: separate;
    border-spacing: 0;
    width: 110%;
    /*margin: 5px auto;*/
    font-family: Arial, sans-serif;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.05);
}

table.editDelete th,
table.subTable th,
table.editDelete td,
table.subTable td {
    border: 1px solid #eee;
    background-color: #fff;
}

/* Gộp các th riêng */
table.editDelete th,
table.subTable th {
    background-color: #eef6ff;
    color: #000;
    font-weight: bold;
}

/* Gộp hàng chẵn */
table.editDelete tr:nth-child(even),
table.subTable tr:nth-child(even) {
    background-color: #fafafa;
}

table.editDelete tr:hover,
table.subTable tr:hover {
    background-color: #eef6ff;
}

table.editDelete td.number,
table.subTable td.number {
    color: #333;
    font-weight: 500;
}
.custom-scroll {
    overflow: scroll;
    width: auto;
    height: 500px;
    scrollbar-width: thin; /* Firefox */
    scrollbar-color: rgba(128, 128, 128, 0.3) transparent; /* Firefox */
}

/* Webkit (Chrome, Edge, Safari) */
.custom-scroll::-webkit-scrollbar {
    width: 8px;
}

.custom-scroll::-webkit-scrollbar-track {
    background: transparent;
}

.custom-scroll::-webkit-scrollbar-thumb {
    background-color: rgba(128, 128, 128, 0.3);
    border-radius: 4px;
}
.custom-scroll::-webkit-scrollbar-thumb:hover {
    background-color: rgba(128, 128, 128, 0.5);
}

/* Định dạng chung cho hàng số thứ tự (1) đến (20) */
table.editDelete tr.stt-header-row th,
table.editDelete tr:nth-child(4) th {
    color: #0f172a;
    font-style: italic;
    font-size: 10px !important;
    font-weight: normal;
    text-align: center;
    background-color: #f8fafc;
    padding: 3px 4px;
}